{% extends '@Docker/layout.html.twig' %}

{% block body %}
    <div class="container-fluid" style="padding-top: 15px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Elasticsearch Indices Health</div>
                    <div class="panel-body">
                        <pre>{{ drawSimpleTable(docker.getEsIndices) }}</pre>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Elasticsearch Cluster Health</div>
                    <div class="panel-body">
                        <pre>{{ drawSimpleTable(docker.getEsClusterHealth) }}</pre>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Elasticsearch Info</div>
                    <div class="panel-body">
                        <pre>{{ drawEsStatus(docker.getEsStatus) }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
